{% extends 'base.html' %}
{% load static %}
{% block title %}Authorization{% endblock title %}
{% block content %}
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col text-center"><img src="{% static 'images/logo.png' %}" alt=""></div>
        </div>
        <div class="row">
            <div class="col">
                <div class="fw-bold fs-1 text-center">COLLABORATE</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="fw-bold fs-4 text-center">A project management tools for developers</div>
            </div>
        </div>
        <div class="row text-center border justify-content-center align-items-center" style="height: 200px;">
            <div class="col">
                <a class="btn btn-primary btn-lg" style="width: 200px;" href="{% url 'signup' %}">Sign up</a>
            </div>
            <div class="col">
                <a class="btn btn-primary btn-lg" style="width: 200px;" href="{% url 'signin' %}">Sign in</a>
            </div>
        </div>
</div>
{% endblock content %}