{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block header %}{{ header }}{% endblock header %}

{% block content %}
<div class="container project">
    <div class="row">
        {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <form action="{% url 'edit_project' project.id %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="project_name" class="form-label">Name:</label>
                <input class="form-control" name="project_name" id="project_name" type="text" value="{{project.name}}" placeholder="Name of project">
            </div>
            <div class="mb-3">
                <label for="project_description" class="form-label">Description:</label>
                <textarea class="form-control" name="project_description" id="project_description" placeholder="Describe your project here">{{project.description}}</textarea>
            </div>
            {% if members %}
            <div class="d-flex mb-3">
                <div class="row align-items-end">
                    <div class="col">
                            <label for="select_members" class="form-label">Project members:</label>
                            <select class="form-select" name="select_members" size="4">
                                {% for member in members %}
                                <option value="{{member.0}}">{{member.1}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <input type="submit" class="btn btn-danger mt-3" name="RemoveMember" value="Remove">
                        </div>  
                    </div>
                </div>
            </div>
            {% endif %}
            <label for="email_member" class="form-label">Invite user:</label>
            <div class="input-group mb-3">
                <input class="form-control" name="email_member" id="project_invite" type="text" placeholder="Enter user email here"><input type="submit" class="btn btn-outline-secondary" name="Invite" value="Invite User">
            </div>
            <input type="submit" class="btn btn-success" name="EditProject" value="Edit Project">
        </form>
    </div>
</div>
{% endblock content %}